.site-box {
	font-family: Arial, sans-serif;
	background-image: none;
	background-image: url("https://squidee.nekoweb.org/squidee.nekoweb.org/assets/images/background.jpeg");
	background-repeat: repeat;
	background-size: 50px;
	text-align: left;
	outline: 1px solid black;
}

.site-box > a {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: hsla(220, 85%, 12%, 0.75);
}

.site-box > a > .sitefeature {
	background-image: none;
	margin: 0px;
	width: 100%;
	height: auto;
	border: none;
}

.site-box > a > .sitefeature > .screenshot {
	height: 100%;
}

.site-box > a > p {
	margin: 0px;
	margin-top: 2px;
	margin-left: 11px;
	color: white;
	font-weight: normal;
}

.site-box > a > span {
	height: 100%;
	margin-left: 11px;
	color: white;
	font-weight: normal;
}

.follow {
}

.post-box {
	background-color: #fff2cc;
	border: 4px solid #ecbfa6;
	padding: 15px;
	border-radius: 5px;
	color: #634c53;
	font-weight: normal;
}

.post-box .post-title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}
