.site-box {
	font-family: Arial, sans-serif;
	background-image: none;
	background-image: url(https://squidee.nekoweb.org/squidee.nekoweb.org/assets/images/background.jpeg);
	background-repeat: repeat;
	background-size: 50px;
	text-align: left;
	outline: 1px solid black;
	overflow: hidden;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.site-box * {
	cursor: url(https://squidee.nekoweb.org/squidee.nekoweb.org/assets/images/cursors/cursor_pointer.png), pointer;
}

.site-box > a {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: hsla(220, 85%, 12%, 0.75);
}

.site-box > a > .sitefeature {
	background-image: none;
	margin: 0px;
	width: 100%;
	height: auto;
	border: none;
}

.site-box > a > .sitefeature > .screenshot {
	height: 100%;
}

.site-box > a > p {
	margin: 0px;
	margin-top: 2px;
	margin-left: 11px;
	color: white;
	font-weight: normal;
}

.site-box > a > p > .follow {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.site-box > a > p > .follow:hover {
	color: #dda2e0;
}

.site-box > a > span {
	height: 100%;
	margin-left: 11px;
	color: white;
	font-weight: normal;
}

.follow {
	color: white;
	background-color: #a574a8;
	border: none;
	border-radius: 0px;
	text-align: center;
	padding: 0px;
	width: 100%;
	height: 100%;
	cursor: url(https://squidee.nekoweb.org/assets/images/cursors/cursor_pointer.png), pointer;
}
