on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: write version
        run:
          echo ${{ github.run_id }}${{ github.run_attempt }} > public/version

      - name: deploy2nekoweb
        uses: indiefellas/deploy2nekoweb@main
        with:
          nekoweb-api-key: ${{ secrets.NEKOWEB_API_KEY }}
          nekoweb-cookie: ${{ secrets.NEKOWEB_COOKIE }}
          nekoweb-domain: "squidee.nekoweb.org"
          nekoweb-username: "squidee"
          directory: "public"
